@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --dark-bg-color: #1F2937;
    --white-txt-color: #F9FAF8;
    --blue-btn-color: #3882F6;
    --padding-left: 10rem;
    --padding-right: 8rem;
}

@media only screen and (min-width: 768px) {
    * {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024) {
    * {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    * {
        font-size: 18px;
        --padding-left: 16rem;
        --padding-right: 14rem;
    }
}

@media only screen and (min-width: 1600px) {
    * {
        font-size: 21px;
        --padding-left: 18rem;
        --padding-right: 16rem;
    }
}




body {
    display: flex;
    flex-direction: column;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Roboto, sans-serif;
    height: 100vh;
}

/* ########## */
/* Section Header */
/* ########## */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-bg-color);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
}

.header-left img {
    width: 2rem;
}

.header-right a {
    margin-left: 1.5rem;
    color: var(--white-txt-color);
    text-decoration: none;
}

button {
    background-color: var(--blue-btn-color);
    color: var(--white-txt-color);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.4rem 0.4rem;
    border: none;
    padding: 0.6rem 1.4rem;
    align-self: flex-start;
}

/* ########## */
/* Section-Top */
/* ########## */
.section-top {
    flex-grow: 1;
    display: flex;
    background-color: var(--dark-bg-color);
    color: var(--white-txt-color);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 2em;
}

.section-top-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
}

.section-top-left h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.section-top-left p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


.section-top-right {
    width: 100%;
}

.section-top-right img {
    width: 100%;
    min-width: 30vw;
}

/* ################# */
/* Section Middle 1 */
/* ############### */
.section-middle-1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-middle-1 h4 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.s-m1-items {
    display: flex;
    gap: 1.51rem;
}

.s-m1-item {
    width: 10rem;
    height: 14rem;
}

.s-m1-items img {
    width: 10rem;
    height: 10rem;
    border: 3px solid var(--blue-btn-color);
    border-radius: 6px 6px;
}

.s-m1-items p {
    font-size: 1rem;
    text-align: center;
}

/* ################# */
/* Section Quote */
/* ############### */
.quote {
    flex-grow: 1;
    background-color: #E5E7EB;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;

    padding: 1em;
    /* padding-left: calc(var(--padding-left)*1.5);
    padding-right: calc(var(--padding-right)*1.5); */
    padding-left: 12rem;
    padding-right: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.quote-author {
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
    font-style: normal;
}

/* ################# */
/* Section Bottom */
/* ############### */

.section-bottom {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    max-height: fit-content;
}

.sb-box {
    display: flex;
    gap: 5rem;
    padding: 2rem 4rem;
    border-radius: 0.25rem 0.25rem;
    background-color: var(--blue-btn-color);
    color: var(--white-txt-color);
}

.sb-box button {
    border: 0.0625rem solid var(--white-txt-color);
}

.sb-text {
    font-size: 0.8rem;
    font-weight: 100;
}

.sb-heading {
    font-size: 1.4rem;
    font-weight: 600;
}

/* ################# */
/* Section Bottom */
/* ############### */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg-color);
    color: var(--white-txt-color);
    font-size: 1rem;
    padding: 0.8rem;
}